<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src={{mapUrl}}></script>
</head>

<body>
    <div id="map" style="width:100%;height:400px;"></div>

    <script>

        //var HOME_PATH = window.HOME_PATH || '.';
        const locations = [
            { place: "예시1", lat: 37.54550348540605, lng: 126.95250745257879 },
            { place: "예시2", lat: 37.55206269136996, lng: 126.93781971327617 },
        ]

        var position = new naver.maps.LatLng(37.55122746285047, 126.9386748177165)

        var map = new naver.maps.Map('map', {
            center: position,
            zoom: 16
        });

        for (var i = 0; i < locations.length; i++) {
            var marker = new naver.maps.Marker({
                map: map,
                title: locations[i].place,
                position: new naver.maps.LatLng(locations[i].lat, locations[i].lng),
            });
        }

//     var markerOptions = {
//         position: position.destinationPoint(90, 15),
//         map: map,
//         icon: {
//             url: 'duck.png',
//             size: new naver.maps.Size(50, 52),
//             origin: new naver.maps.Point(0, 0),
//             anchor: new naver.maps.Point(25, 26)
//         }
// };

// var marker = new naver.maps.Marker(markerOptions);

//var mapOptions = {
//    center: new naver.maps.LatLng(37.3595704, 127.105399),
//    zoom: 10
//};

//var map = new naver.maps.Map('map', mapOptions);
    </script>
</body>

</html>